<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Chat</title>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){

			var ws = new WebSocket("ws://172.31.122.33:8080/project-support/websocket/chatEntry");

			//ソケットのオープン
			ws.onopen = function() {
			};

			//ソケットのクローズ
			ws.onclose = function() {
			};

			//エラー処理
			ws.onerror = function(event) {
			};

			//受信
			ws.onmessage = function(message) {
				//レスポンスを取得
				var responceObj = JSON.parse(message.data);
				//受信メッセージ出力
				$("#log").append(responceObj.message).append("<br/>");
				$("#sessionCount").text(responceObj.sessionCount);
			};

			//送信
			$('#sendBtn').click(function () {
				//メッセージ送信（JSON形式で）
				ws.send(JSON.stringify({"message" : $("#message").val()}));
				//テキストクリア
				$('#message').val("");
			});

			//送信イベント
			$('#form').submit(function () {
				return false;
			});

		});

		</script>
</head>
<body>
	<div class="page-header">
		<h1>サンプル</h1>
	</div>

	<table>
		<tr>
			<td>セッション数</td>
			<td><span id="sessionCount"></span></td>
		</tr>
	</table>

	<form id="form" action="#">
		<table>
			<tr>
				<td><input type="text" id="message" /></td>
				<td><input type="button" id="sendBtn" name="sendBtn" value="送信" /></td>
			</tr>
			<h2>履歴</h2>
			<table style="height:400px; width:400px; border-collapse:collapse; border:1px #1C79C6 solid;">
				<tr valign="top">
					<td><span id="log"></span></td>
				</tr>
			</table>
		</table>
	</form>
</body>


</html>